.logos {
    img {
        filter: grayscale(100%);       // 初始灰白
        transition: filter 0.3s ease;  // 平滑過渡

    &:hover {
      filter: grayscale(0%);       // 滑鼠移上去變彩色
    }
    }
}

.logo-swiper {
    img {
        height: 118px;
    }

    &:hover {
        filter: grayscale(0%);
        opacity: 1;
        transform: scale(1.03);
    }
}