.title-text {
    font-family: "Noto Serif TC" ;
    font-size: $font-size-base * 3 ;
    font-weight: 700;

    padding-bottom: $spacer * 2;
    //border-bottom: 2px solid $primary-500;

    color: $gray-900;
    position: relative; // 一定要有
}

.title-text::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 200px;          // 控制長度
    height: 2px;
    background-color: $primary-500;
}



.title-text-cart {
    font-family: "Noto Serif TC" ;
    font-size: $font-size-base * 3 ;
    font-weight: 700;
    line-height: 1.2;

    padding-bottom: $spacer * 2;
    //border-bottom: 2px solid $primary-500;

    color: $primary-500;
    position: relative; // 一定要有
}

.title-text-cart::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 150px;          // 控制長度
    height: 2px;
    background-color: $primary-500;
}

.body-text {
    font-size: 20px;
}

//手機板
@media (max-width: 768px) {

.title-text {
    font-size: $font-size-base * 1.75 ;
    padding-bottom: $spacer * 1.25;
}
.title-text::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 120px;          // 控制長度
    height: 2px;
    background-color: $primary-500;
}


.body-text {
    font-size: 16px;
}




}