.title-text {
    font-family: "Noto Serif TC" ;
    font-size: $font-size-base * 3 ;
    font-weight: 700;

    padding-bottom: $spacer * 2;
    //border-bottom: 2px solid $primary-500;

    color: $primary-500;
    position: relative; // 一定要有
}

.title-text::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 200px;          // 控制長度
    height: 2px;
    background-color: $primary-500;
}



.title-text-cart {
    font-family: "Noto Serif TC" ;
    font-size: $font-size-base * 3 ;
    font-weight: 700;
    line-height: 1.2;

    padding-bottom: $spacer * 2;
    //border-bottom: 2px solid $primary-500;

    color: $primary-500;
    position: relative; // 一定要有
}

.title-text-cart::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 150px;          // 控制長度
    height: 2px;
    background-color: $primary-500;
}

.title-text-product {
    font-family: "Noto Serif TC" ;
    font-weight: 700;
    line-height: 1.2;

    padding-bottom: 24px;
    //border-bottom: 2px solid $primary-500;

    color: #3D3D3D;
    position: relative; // 一定要有
}

.title-text-product::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 150px;          // 控制長度
    height: 2px;
    background-color: $primary-500;
}

.orange-vertical-line {
  font-family: "Noto Serif TC" ;  
  border-left: 5px solid #B28B45; 
  padding-left: 1rem;
  line-height: 1.2;
}