@import 'bootstrap/scss/functions';
@import './variables';
@import 'bootstrap/scss/bootstrap';



//BS5 關鍵字//
//顏色
//顏色-主色 301
//顏色-灰色 9
//文字 666
//間距 446
//網頁尺寸 568
//圓角控制 614




/// 專案樣式
@import './fonts.scss';
@import './index.scss';
@import './button.scss';
@import './Lable.scss';


@import './input-field.scss';

