//btn-hover
.btn-filled {
  transition: background-color .2s ease, transform .2s ease;
   @include media-breakpoint-up(md) {
    font-size: 1.125rem !important;
  }

  &:hover {
    background-color: $primary-600 !important;
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(0);
  }
  &:disabled,
  &.disabled {
    background-color: #D1D1D1 !important;
    color: #B0B0B0 !important;
    cursor: not-allowed;
    transform: none;
    opacity: 0.65;
  }
}

.btn-outline {
  transition: background-color .2s ease, transform .2s ease;
  border-radius: 0%;
   @include media-breakpoint-up(md) {
    font-size: 1.125rem !important;
  }

  &:hover {
    background-color: $primary-600 !important;
    color: white !important;
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(0);
  }
}

.btn-text {
  transition: background-color .2s ease, transform .2s ease;
  border-radius: 0%;
   @include media-breakpoint-up(md) {
    font-size: 1.125rem !important;
  }

  &:hover {
    border-bottom: solid 2px $gray-900;
  }

  &.selected {
    color: $primary-600 !important;
     border-bottom: solid 2px $primary-600;
  
  }
}
.text-link {
  transition: background-color .2s ease, transform .2s ease;
  border-radius: 0%;
   @include media-breakpoint-up(md) {
    font-size: 1.125rem !important;
  }

  &:hover {
    border-bottom: solid 2px $primary-500;
  }
}

//color
.text-gray-900 {
  color: $gray-900 !important;
}